body {
    
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

#submit {
    padding: 10px 20px;
    color: #0e0d0d;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    border: 1px solid #f06f6b;
    margin: auto;
 }
 
#submit:hover {
    background: #ec7c7c;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ec7c7c, 0 0 25px #ec7c7c, 0 0 50px #ec807c, 0 0 100px #ec7c7c;
 }